<form role="form" action="//drupalfr.us8.list-manage.com/subscribe/post?u={{ account_hash }}&amp;id={{ mailing_list_hash }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
  <div class="form-group form-group-lg">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="{{ 'Enter your email'|t }}" name="EMAIL" id="mce-EMAIL">
      <span class="input-group-btn">
        <input value="{{ 'Subscribe'|t }}" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg form-submit" type="submit">
      </span>
    </div>
    <div class="hidden">
      <input name="{{ anti_spam_token }}" tabindex="-1" value="" type="text">
    </div>
  </div>
</form>
