{#
/**
 * @file
 * Default theme implementation to display map block.
 *
 * Available variables:
 * - latitude: Latitude of the point on openstreetmap.org.
 * - longitude: Longitude of the point on openstreetmap.org.
 * - zoom_level: Zoom level on openstreetmap.org.
 * - box_bottom_left_latitude: Iframe's bottom left corner latitude.
 * - box_bottom_left_longitude: Iframe's bottom left corner longitude.
 * - box_top_right_latitude: Iframe's top right corner latitude.
 * - box_top_right_longitude: Iframe's top right corner longitude.
 * - marker_latitude: Iframe's marker latitude.
 * - marker_longitude: Iframe's marker longitude.
 *
 * @ingroup themeable
 */
#}
<p>{{ 'Latitude:'|t }} {{ latitude }}</p>
<p>{{ 'Longitude:'|t }} {{ longitude }}</p>
<p>{{ 'Zoom level:'|t }} {{ zoom_level }}</p>
<p>{{ 'Box bottom left latitude:'|t }} {{ box_bottom_left_latitude }}</p>
<p>{{ 'Box bottom left longitude:'|t }} {{ box_bottom_left_longitude }}</p>
<p>{{ 'Box top right latitude:'|t }} {{ box_top_right_latitude }}</p>
<p>{{ 'Box top right longitude:'|t }} {{ box_top_right_longitude }}</p>
<p>{{ 'Marker latitude:'|t }} {{ marker_latitude }}</p>
<p>{{ 'Marker longitude:'|t }} {{ marker_longitude }}</p>
