<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE 1 -->
            <li data-transition="slidevertical"
                data-slotamount="1"
                data-masterspeed="1000"
                data-thumb="{{ base_path ~ directory }}/img/slide_thumb_1.jpg"
                data-saveperformance="off"
                data-title="Slide">

                <!-- MAIN IMAGE -->
                <img src="{{ base_path ~ directory }}/img/slide1.jpg"
                     alt="Drupalcamp Paris 2019"
                     data-bgposition="center top"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption light_heavy_70_shadowed lfb ltt tp-resizeme"
                     data-x="center" data-hoffset="250"
                     data-y="center" data-voffset="-70"
                     data-speed="600"
                     data-start="800"
                     data-easing="Power4.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="  z-index: 2;
                      max-width: auto;
                      max-height: auto;
                      white-space: nowrap;">
                    Drupalcamp Paris
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption light_medium_30_shadowed lfb ltt tp-resizeme"
                     data-x="center" data-hoffset="205"
                     data-y="center" data-voffset="-10"
                     data-speed="600"
                     data-start="900"
                     data-easing="Power4.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="  z-index: 3;
                      max-width: auto;
                      max-height: auto;
                      white-space: nowrap;">
                    <strong>15-17 Février 2019</strong>
                    à l'Espace Saint-Martin - Paris III<sup>ème</sup>
                </div>


            </li>

            <!-- SLIDE 2 -->
            <li data-transition="slidevertical"
                data-slotamount="1"
                data-masterspeed="1000"
                data-thumb="{{ base_path ~ directory }}/img/slide_thumb_2.jpg"
                data-saveperformance="off"
                data-title="Slide">
                <!-- MAIN IMAGE -->
                <img src="{{ base_path ~ directory }}/img/slide2.jpg"
                     alt="3 Tracks Proposées"
                     data-bgposition="center top"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption light_heavy_70_shadowed lfb ltt tp-resizeme"
                     data-x="center" data-hoffset="270"
                     data-y="center" data-voffset="-70"
                     data-speed="600"
                     data-start="800"
                     data-easing="Power4.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="  z-index: 2;
                      max-width: auto;
                      max-height: auto;
                      white-space: nowrap;">
                    3 <em>Tracks</em> proposées :<br>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption light_medium_30_shadowed lfb ltt tp-resizeme"
                     data-x="center" data-hoffset="230"
                     data-y="center" data-voffset="0"
                     data-speed="600"
                     data-start="900"
                     data-easing="Power4.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="  z-index: 3;
                      max-width: auto;
                      max-height: auto;
                      white-space: nowrap;">
                    Business <strong>/</strong> Technique <strong>/</strong> Découverte
                </div>


            </li>

            <!-- SLIDE 3 -->
            <li data-transition="slidevertical"
                data-slotamount="1"
                data-masterspeed="1000"
                data-thumb="{{ base_path ~ directory }}/img/slide_thumb_3.jpg"
                data-saveperformance="off"
                data-title="Slide">
                <!-- MAIN IMAGE -->
                <img src="{{ base_path ~ directory }}/img/slide3.jpg"
                     alt="Rencontrez la communauté"
                     data-bgposition="center top"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption light_heavy_70_shadowed lfb ltt tp-resizeme"
                     data-x="center" data-hoffset="215"
                     data-y="center" data-voffset="-70"
                     data-speed="600"
                     data-start="800"
                     data-easing="Power4.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                    Rencontrez la communauté
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption light_medium_30_shadowed lfb ltt tp-resizeme"
                     data-x="center" data-hoffset="290"
                     data-y="center" data-voffset="40"
                     data-speed="600"
                     data-start="900"
                     data-easing="Power4.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                    Venez à la rencontre des personnes et des entreprises <br>
                    qui font Drupal en France.
                </div>


            </li>

            <!-- SLIDE 4 -->
            <li data-transition="slidevertical"
                data-slotamount="1"
                data-masterspeed="1000"
                data-thumb="{{ base_path ~ directory }}/img/slide_thumb_4.jpg"
                data-saveperformance="off"
                data-title="Slide">
                <!-- MAIN IMAGE -->
                <img src="{{ base_path ~ directory }}/img/slide4.jpg"
                     alt="Sprints"
                     data-bgposition="center top"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption light_heavy_70_shadowed lfb ltt tp-resizeme"
                     data-x="center" data-hoffset="270"
                     data-y="center" data-voffset="-70"
                     data-speed="600"
                     data-start="800"
                     data-easing="Power4.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                    Développez Drupal
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption light_medium_30_shadowed lfb ltt tp-resizeme"
                     data-x="center" data-hoffset="220"
                     data-y="center" data-voffset="0"
                     data-speed="600"
                     data-start="900"
                     data-easing="Power4.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                    Participez aux différents sprints de programmation <br>
                    et de traduction proposés le dimanche
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>

<!-- HIGHLIGHT -->
<section id="highlight">
    <div class="container-fluid">
        <div class="row">

            <div id="left" class="left col-lg-9 col-md-8 text-right">
                <h2>Drupalcamp Paris 2019</h2>
                <p>L'évènement n'a jamais été aussi proche...</p>
            </div>

            <div id="right" class="col-lg-3 col-md-4 text-left">
                <div id="countdown"></div>
            </div>

        </div>
    </div>
</section>